body {
    font-family: Arial;
}

h1 { 
    text-align: center;
}

#vis-marks {
    display: flex;
    justify-content: space-around;
}

#vis-marks-table td {
    vertical-align: top;
}

#vis-marks-table {
    border-spacing: 30px;
}
